.w100{
    width: 100%;
}

.h100{
    height: 100%;
}

.wh100{
    width: 100%;
    height: 100%;
}

%flex-shared{
    display: flex;
    text-align: center;
}

.container{
    max-width: $website-width;
    width: 100%;
}

.flex{
    &-center{
        @extend %flex-shared;
        align-items: center;
        justify-content: center;
    }
    &-opposite{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// Header
.logo{
    margin-left: 5px;
    color: $dark-color;
    span{
        color: $main-color;
    }
}

.current{
    border-bottom: red 2px solid;
}