@import 'var';
@import 'media';
@import 'utilities';

// CSS RESET

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul, ol{
    list-style-type: none;
}

#header-home{
    background-color: red;
    .container{
        background-color: blue;
        nav{
            height: 80px;
            background-color: yellow;
            .header-logo{
                img{
                    height: 70px;
                }
            }
            ul{
                background-color: pink;
                li{
                    a{
                        margin: 10px;
                    }
                }
            }
        }
    }
}

